In [1]:
#import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from bs4 import BeautifulSoup
import requests
from scipy import stats

In [2]:
df=pd.read_csv('df.csv', index_col='date')
df.head()

            winning_times  tail_wind  birth_date country        age
date
2013-04-28          10.01        0.9  1995-12-15     JPN  17.380822
2002-07-17          10.09       -0.6  1984-11-10     TTO  17.693151
2018-02-06          10.09        0.9  2000-05-09     USA  17.758904
2017-04-08          10.05       -0.6  1999-06-03     JPN  17.860274
2008-06-28          10.01        1.6  1990-08-01     USA  17.920548

In [4]:
df.index = pd.to_datetime(df.index)
df['birth_date'] = pd.to_datetime(df['birth_date'])

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2810 entries, 2013-04-28 to 2016-07-05
Data columns (total 5 columns):
winning_times    2810 non-null float64
tail_wind        2810 non-null float64
birth_date       2810 non-null datetime64[ns]
country          2810 non-null object
age              2810 non-null float64
dtypes: datetime64[ns](1), float64(3), object(1)
memory usage: 131.7+ KB